:root {
  --light: #faf8f8;
  --dark: #32363a;
  // +30% tint
  --secondary: #32363a;
  // base red
  --tertiary: #707275;
  // +50% shade
  --visited: #707275;
  // +20% shade
  --primary: #cc5752;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  // +5 tint
  --highlighted: #e6aba9;
}

[saved-theme="dark"] {
  --light: #32363a !important;
  --dark: #ebebeb !important;
  --secondary: #ebebeb !important;
  --visited: #999b9d !important;
  --tertiary: #999b9d !important;
  --primary: #cc5752 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #4a4a4a !important;
  --highlighted: #7a3431;
}

.footnote-sidenote {
  // float to right side, absolute
  position: absolute;
  right: 10rem;
  font-size: 0.8rem;
}
