.logo {
  width: 4em;
  height: 4em;
  margin-right: 1em;
}

.logo > img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

// collapse the sidebar if width is too small
@media screen and (max-width: 500px) {
  #page-title {
    display: none;
  }
}
