.sidebar > h3 {
  margin-top: 1em;
}

.page-list-sidebar {
  min-width: 10em;
  margin-top: 0.7em;
}

.page-list-sidebar > .section-li > .section {
  display: flex;
  flex-direction: column;
  // left align items
  align-items: flex-start;
}

.page-list-sidebar > .section-li > .section > .meta {
  flex-basis: 0;
}

.page-list-sidebar > .section-li > .section > .desc > h4 {
  margin-top: 0;
}

// collapse the sidebar if width is too small
@media screen and (max-width: 500px) {
  .sidebar {
    display: none;
  }
}
